* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(var(--index) * 1.5);
  line-height: 51px;
}

.section-1 {
  background-color: #E50185;
  .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px 120px;
      color: #ffffff;
      .links a {
        margin-left: 80px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 300;
      }
    }
  }
}

